@use '../../../style/global.module.scss' as v;
.word {
    width: 100%;
    position: relative;
    transition: transform 1s;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: origin;

    &:hover .letter08 {
      transition: all 0.4s;
      transform: rotateY(90deg);
    }
    .letter08 {
      padding: 0px 3px;
      display: inline-block;
      position: relative;
      margin: auto;
      font: 800 80px 'Roboto',sans-serif;
      transition: all 0.4s;
      transform-style: preserve-3d;
      transform-origin: right;
      transform: rotateY(0deg);
      color: v.$tertiary;
      background: v.$secondary;

      &::after {
        padding: 0px 3px;
        content: attr(data-char);
        position: absolute;
        top: 0px;
        left: 0;
        transition: all 0.4s;
        transform-origin: right;
        color: v.$secondary;
        background: v.$tertiary;
        // background: v.$tertiary;
        // color: v.$tertiary;
        transform: rotateY(-90deg) translateZ(0px);
      }
    }
}