@use '../../../style/global.module.scss' as v;

.container {
  width: 100%;
  height: 500px;
  background-color: v.$secondary;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform-origin: top;
  @include v.flex(row, center, center);

  .label_container {
    h1 {
      cursor: pointer;
      position: relative;
      text-transform: uppercase;
      color: v.$tertiary;
      font: 800 80px 'Roboto',sans-serif;

      &::after {
        content: '';
        position: absolute;
        top: 90%;
        right: 0;
        width: 0%;
        height: 4px;
        background: v.$tertiary;
        transform-origin: left;
        transition: all 0.3s ease-in-out;
      }
      &:hover::after {
        left: 0;
        width: 100%;
      }
    }
  }
}
.page_container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @include v.flex(column, center, flex-start);
  .inspect_container {
    transition: all 0.3s ease-in-out;
    height: 500px;
    .backward_btn {
      cursor: pointer;
      position: absolute;
      top: 20px;
      left: 20px;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 0.5
      }
    }
    .demo,.inspect {
      position: relative;
      flex-grow: 1;
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      transition-delay: 1s;
      transition: all 0.3s cubic-bezier(0.96,-0.01, 0.58, 1);
    }
    .demo {
      background-color: v.$tertiary;
      @include v.flex(row, center, center);
      .canvas {
        position: relative;
        width: 50%;
        @include v.flex(column, flex-start, center);

        .demo1 {
          cursor: pointer;
          position: relative;
          text-transform: uppercase;
          color: v.$secondary;
          font: lighter 25px 'Roboto',sans-serif;
          margin-bottom: 10px;
    
          &::after {
            content: '';
            position: absolute;
            top: 90%;
            right: 0;
            width: 0%;
            height: 2px;
            background: v.$secondary;
            transform-origin: left;
            transition: all 0.3s ease-in-out;
          }
          &:hover::after {
            left: 0;
            width: 100%;
          }
        }
        .demo2 {
          cursor: pointer;
          position: relative;
          text-transform: uppercase;
          color: v.$secondary;
          font: lighter 25px 'Roboto',sans-serif;
          margin-bottom: 10px;
    
          &::after,&::before {
            content: '';
            position: absolute;
            top: 90%;
            right: 0;
            width: 0%;
            height: 2px;
            background: v.$secondary;
            transition: all 0.3s ease-in-out
          }
          &:hover::after {
            animation: animateDemo2 0.3s ease-in-out;
          }
          &:hover::before {
            left: 0;
            width: 100%;
            transition: all 0.15s ease-in-out;
            transition-delay: 0.4s;
          }
          @keyframes animateDemo2 {
            0% { left: 0; width: 0%; }
            50% { width: 100%; }
            100% { right: 0; width: 0%; }
          }
          @keyframes animateDemo2-1 {
            0% { width: 0%; }
            100% { width: 100%; }
          }
        }
        .demo3 {
          cursor: pointer;
          position: relative;
          text-transform: uppercase;
          color: v.$secondary;
          font: lighter 25px 'Roboto',sans-serif;
          margin-bottom: 10px;
    
          &::after,&::before {
            content: '';
            position: absolute;
            top: 90%;
            width: 0%;
            right: 50%;
            height: 2px;
            background: v.$secondary;
            transition: all 0.3s ease-in-out;
          }
          &:hover::after,&:hover::before{
            width: 50%;
          }
          &:hover::after {
            right: 0;
          }
        }
        .demo4 {
          height: fit-content;
          cursor: pointer;
          position: relative;
          text-transform: uppercase;
          color: v.$secondary;
          font: lighter 25px 'Roboto',sans-serif;
          margin-bottom: 10px;
          overflow-x: hidden;
    
          &::after,&::before {
            content: '';
            position: absolute;
            top: 88%;
            width: 100%;
            height: 1px;
            opacity: 0;
            background: v.$secondary;
            transition: all 0.8s ease-in-out;
          }
          &::after {
            left: -100%;
            top: 88%;
          }
          &::before {
            left: 100%;
            top: 98%;
          }
          &:hover::after {
            opacity: 1;
            left: 100%;
          }
          &:hover::before {
            opacity: 1;
            left: -100%;
          }
        }
      }
    }
    .inspect {
      max-width: 50%;
      height: 100%;
      background-color: v.$secondary;
      @include v.flex(column, flex-start, flex-start);

      .box {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 100px;
        color: v.$tertiary;

        .title {
          font: lighter 40px 'Roboto Slab',sans-serif;
          margin-bottom: 30px;
        }
        .toggle_box_container {
          width: 100%;
          max-width: 100%;

          height: fit-content;

          .toggle_box {
            cursor: pointer;
            height: 50px;
            margin-bottom: 10px;
            @include v.flex(row, center, center);

            .name {
              flex: 1;
              width: 100%;
              height: 100%;
              @include v.flex(row, center, flex-start);
              padding-left: 10px;
              font: 400 20px 'Roboto Slab',sans-serif;
              background-color: #716F6F;
            }
            .button {
              height: 100%;
              display: grid;
              padding: 0px 5px;
              background-color: #404040;
              &:hover {
                opacity: 0.5;
              }
              img {
                object-fit: contain;
                margin: auto;
              }
            }
          }
          .snippet {
            width: 100%;
            height: 400px;
            background-color: #C4C4C4;
            transition: all 0.3s ease-in-out;
            height: 0px;
            overflow: scroll;
            margin-bottom: 30px;
          }
        }
      }
    }
    .page_transition{
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgb(0, 0, 0);
      z-index: 5;
      transition: all 1s ease-in-out;
      animation: pageTransition 1s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}
@keyframes pageTransition {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
}