$primary: #191308;
$secondary: #D3D2C7;
$tertiary: #ffffff;

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif'
}
*::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: $secondary;
}

@mixin flex($direction: row, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}