$primary: #FB5168;
$secondary: #000000;
$tertiary: #ffffff;

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif'
}
// *::-webkit-scrollbar {
//   width: 0px;
//   display: none;
// }

@mixin flex($direction: row, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}