@use '../../../style/global.module.scss' as v;

.container {
  width: 100%;
  height: 500px;
  background-color: v.$tertiary;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform-origin: top;
  @include v.flex(row, center, center);

  &:hover .demo_cursor {
    display: block;
  }
  .demo_cursor {
    display: none;
    pointer-events: none;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: v.$tertiary;
    transition-timing-function: ease-out;
    will-change: transform;
    mix-blend-mode: difference;
    // transition: width,height 0.1s ease-in;
    // transition-delay: 0.2s;
    // transition: all 0.2s ease-out;
    // transform: translate(-50%, -50%);
  }

  .label_container {
    width: 300px;
    display: grid;
    background: transparent;


      h1 {
        font: 800 80px 'Roboto',sans-serif;
        text-align: left;
        text-transform: uppercase;
        transition: all 0.3s ease-out;
        margin: auto;
        color: v.$secondary;
        cursor: pointer;
        transform-origin: left;

        &:hover .demo_cursor {
          background: blue;
          width: 100px;
          height: 100px;
          // transform: scale(2);
          // transition: all 0.1s ease-in;
        }
      }
  }
}
.page_container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @include v.flex(column, center, flex-start);
  
  .demo_cursor {
    pointer-events: none;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: v.$tertiary;
    // background: blue;
    transition: 'all 0.2s ease-out';
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
  }
  .inspect_container {
    position: relative;
    transition: all 0.3s ease-in-out;
    height: 500px;
    .backward_btn {
      cursor: pointer;
      position: absolute;
      top: 20px;
      left: 20px;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 0.5
      }
    }
    .demo,.inspect {
      flex-grow: 1;
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      transition-delay: 1s;
      transition: all 0.3s cubic-bezier(0.96,-0.01, 0.58, 1);
    }
    .demo {
      background-color: v.$tertiary;
      @include v.flex(row, center, center);
      .canvas {
        position: relative;
        width: 50%;
        z-index: 5;
        @include v.flex(column, flex-start, center);

        .label_container {
          z-index: 5;
                h2 {
                  z-index: 9999;
                  font: 800 24px 'Roboto',sans-serif;
                  margin-bottom: 10px;
                }
                p {
                  font: 400 16px 'Roboto',sans-serif;
                  margin-bottom: 10px;
                  span {
                    font-weight: lighter;
                    font-style: italic;
                  }
                }
                button {
                  padding: 2px 5px;
                  border: none;
                  font: 400 16px 'Roboto',sans-serif;
                  width: fit-content;
                  mix-blend-mode: difference;
                  cursor: pointer;
                  background: transparent;
                  color: v.$secondary;
                  transition: all 0.2s ease-in-out;

                  &:hover {
                    color: v.$tertiary;
                    background: v.$secondary;
                  }
                }

        }
      }
    }
    .inspect {
      max-width: 50%;
      height: 100%;
      background-color: v.$secondary;
      @include v.flex(column, flex-start, flex-start);

      .box {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 100px;
        color: v.$tertiary;

        .title {
          font: lighter 40px 'Roboto Slab',sans-serif;
          margin-bottom: 30px;
        }
        .toggle_box_container {
          width: 100%;
          max-width: 100%;

          height: fit-content;

          .toggle_box {
            cursor: pointer;
            height: 50px;
            margin-bottom: 10px;
            @include v.flex(row, center, center);

            .name {
              flex: 1;
              width: 100%;
              height: 100%;
              @include v.flex(row, center, flex-start);
              padding-left: 10px;
              font: 400 20px 'Roboto Slab',sans-serif;
              background-color: #716F6F;
            }
            .button {
              height: 100%;
              display: grid;
              padding: 0px 5px;
              background-color: #404040;
              &:hover {
                opacity: 0.5;
              }
              img {
                object-fit: contain;
                margin: auto;
              }
            }
          }
          .snippet {
            width: 100%;
            height: 400px;
            background-color: #C4C4C4;
            transition: all 0.3s ease-in-out;
            height: 0px;
            overflow: scroll;
            margin-bottom: 30px;
          }
        }
      }
    }
    .page_transition{
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgb(0, 0, 0);
      z-index: 5;
      transition: all 1s ease-in-out;
      animation: pageTransition 1s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}
@keyframes pageTransition {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
}